.Wrapper {
  max-width: 1600px;
  margin: 0 auto;

  position: relative;
}

.Wrapper .nav {
 position: absolute;
 left: 0px;
   text-decoration: none;
  
  font-size: 3rem;
   background-color: rgb(0, 0, 0);
   object-fit: cover;
   border-radius: 999px;
   color: aliceblue;
}


.Body img{
 
    border-radius: 3rem;
    background-size: 100%;
      width: 90%;
    height: 60rem;
    
     object-fit: fill;

}
.Body .images{
  display: flex;
  align-items: center;
  justify-content: center;  
}
.Body .images .Left{
   position: relative;
   left: 4rem;
}
.Body .images .Right{
  position: relative;
  right: 4rem;
}
.Body .images .btn{
    width: 3rem;
    height: 6rem;
    font-weight: 900;
    border-radius: 2rem;
    background: black;
    color: white
}
.Body .images .btn:hover{
background: rgba(8, 7, 7,0.5);
}
/* @media screen and (max-width: 1000px) {
      
.Body img{
    width: 100%;
    height: 45rem;
    transition: all 2s ease;
    object-fit: fill;

}

} */

/* ===========================================Body=================================== */
 b {
  font-style: italic;
  font-weight: 700;
  color: black;
}
/* =======================================phần chung================================== */
h1 {
  color: black;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.body .Wrappercontent .content .text div {
    width: 100%;
}
.body .Wrappercontent .content .text div .label {
       font-size: 3rem;
}
.Wrappercontent {
  display: grid;
  grid-row-gap: 10rem;
}
/* ========================================================================================= */
.body {
  margin-top: 3cm;
  margin: 3cm 3cm;
  font-size: 1.6rem;
  font-family: 'Times New Roman', Times, serif;

  margin-right: auto;
 
}
.body .Wrappercontent .content {
     display: flex;
     gap: 3cm;
}
.body .Wrappercontent .content .text{
      width: 70%;
      display: grid;
      grid-row-gap: 3rem;
}
.body .Wrappercontent .content .image {
  display: grid;
  grid-row-gap: 3rem;
}
.body .Wrappercontent .content .image img {
        width: 90%;
}
.body .Wrappercontent .content .image .img2 {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
@media screen and (max-width: 1300px) {
  .body .Wrappercontent .content {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 1.4rem;
  }
  .body .Wrappercontent .content .text div .label {
    font-size: 2rem;
}
  .body {
    font-size: 1rem;
    margin: 2cm auto;
  }
  .body .Wrappercontent .content .text {
            width: 100%;
  }
  .Body img {
        height: 20rem;
        max-width: 90%;
  }
  .body .Wrappercontent .content .image {
    display: grid;
    grid-row-gap: 2rem;
  }
  .Wrapper .nav {
    position: absolute;
    left: 2px;
      text-decoration: none;
     
     font-size: 1.5rem;
      background-color: rgb(0, 0, 0);
      object-fit: cover;
      border-radius: 999px;
      color: aliceblue;
   }
  
}

/* @media screen and (max-width: 600px){
.Body img{
     width: 100%;
     height: 15rem;
     object-fit: fill;
     transition: all 3s ease;
}
.Body .images .Left{
        position: relative;
          left: 3rem;
}

.Body .images .Right{
        position: relative;
        right: 3rem;
}
.Body .images .btn {
    width: 2rem;
    height: 4rem;
    opacity: 1;
} */


