*{
    box-sizing: border-box;
}

:root{     /* kiến thức về css Varible */ 
    --Font: "Poppins", "sans-serif";
    --primary-color: #FFB900;

}
html {
    font-size: 62.5%;
}

/* khôi phục lại mặc định cỡ chữ theo rem  */
body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}


/* ===========================Common(phần chung)=================== */
.heading-lv2 {
    color:#171100;
    font-family: var(--Font);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -0.76px;
}
.main-content {
    width: 1170px; /* Đây là chiều rộng cố định  */  
    max-width: calc(100% - 200px);                      /* kiến thức về hàm calc */
    margin-right: auto;
    margin-left: auto; 


}

a {
    text-decoration: none;
}

.btn {
    display: inline-block   ;
    color: white;
    font-size: 1.6rem;
    background-color: black;
    padding: 0 1.6rem;
    border-radius: 999px;
    text-align: center;
    line-height: 50px;
}
.btn:hover {
    opacity: 0.9;
}


.line-clamp{   /* giúp hiển thị dấu ... khi nội dụng vượt quá khung chứa */
        display: -webkit-box;
        -webkit-line-clamp:var(--line-clamp,1);
        -webkit-box-orient: vertical;
        overflow: hidden;
}

.line-clamp.line2{
    --line-clamp: 2;
}
.break-all{
    word-break: break-all;
}

/*===================================================*/

/* ========================================== */
/* ===========================HERDER====================== */
.header .body {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 36px 0px 8px 0px ;
 
}
.header{
    background-color: antiquewhite;
    position:sticky;
    top: -28px;
    z-index: 1;

}
.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}
.nav a{
    position: relative;
   color: rgb(29, 23, 23);
   font-size: 1.6rem;
 
   padding:   8px 21px;
    
}
 
.nav li.active a,
.nav a:hover {
    text-shadow: 1px 1px black;  /* Bóng đổ của văn bán */
}
 .nav li.active a::after { /* thêm  một dấu gạch chân vào bên trong thẻ a . nhưng  hiển thị ở sau nội dung của thẻ a*/
  display: block;
    content: "";
    width: 12px;
    height: 2px;
    background-color: black;

    position: absolute;
    left: 21px;
    bottom: 6px;
   
}

.header .btn-sign-up{
    min-width: 144px
}

/* ===================================phần hero herder=================================== */
.hero {
padding: 56px 0 65px;
    background-color: antiquewhite;
}
.hero .body{
    display: flex;
}

/* =======================hero Left=============================================== */
.hero .media-block {
    position: relative;
    width: 48%;

}
.hero .media-block .img-hero{
    width: 470px;
    height: 685px;

    border-radius: 2rem;
}


 .hero .hero-summary {
  
            position: absolute;
            bottom: 48px;
            right: 0px;
            left: 300px;

            background-color: aliceblue;
            border-radius: 1.2rem;
            padding: 2.4rem 0rem 2.4rem 2.4rem;
            width: 270px;
}   
.hero-summary .index-summary {
    position: relative;

     display: flex;
     justify-content: center;
     align-items: center;
   
 
}
.hero-summary .index-summary + .index-summary {
        margin-top: 22px;
}
.hero-summary .icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        left: 0px;

        background-color: #fff9e8;

}
.hero-summary .icon2 {
    background-color: #FCEFFF;
}
.hero-summary .icon3 {
    background-color: #ebeaff;
}
.hero-summary .text{
    margin-left: 1.6rem;
    width: 119px;
}
.hero-summary .lable {
    font-size: 14px;
    font-style: normal;
    line-height: 1.86;
}
.hero-summary .title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
}
/* ==========================hero Right=================================== */
.hero .content-block {
    width: 52%;
   padding-left: 130px;
   padding-top: 64px;
  
  }
.hero .heading {
    font-family: var(--Font);
        font-weight: 700;
        font-size: 5.8rem;
        line-height: 1.17;
        letter-spacing: normal;
}
.hero .hero-cta{
    min-width: 180px;

    line-height: 64px;

    background-color: var(--primary-color);
}
.hero .desc{
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
}
.hero .cta-group{
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero .watch-video{
    border:none;
    background: transparent;  /* transparent độ trong suốt */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;

    cursor: pointer;      


}
.hero .watch-video .icon{
    width: 40px;
    height: 40px;
    border-radius: 4rem;
    background-color: #FCEFFF;

    display: flex;
    align-items: center;
    justify-content: center;

}
.hero .watch-video span{
    margin-left: 14px;
    color: #171100;
    font-weight: 600;

    line-height: 1.67;
}
.hero .desc-recent{
    margin-top: 48px;
}
.hero .stats{
    margin-top: 8px;
}
.hero .stats strong{
font-family: var(--Font);
font-weight: 700;
line-height: 1.23;
font-size: 4.4rem;

margin-right: 15px;
}
.hero .stats strong:nth-child(2){
    margin-left: 28px;
}

/*===================== phần popular============================== */
.popular {
    padding: 65px 0px;


    margin-top: 135px;
}

.popular-top .desc{
        font-family: var(--Font);
        margin-top: 16px;
        width: 458px;
        color: #5f5f5f;
        font-size: 1.8rem;
        line-height: 1.67;
}
.popular .popular-top{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    
}
.popular .control-btn{
    padding: 1rem 1rem;
    border-radius: 2rem;
    border: 2px solid ;
    margin-left: 1rem;  
    cursor: pointer;

    box-shadow: 2px 2px 4px black;
    
}
.popular .control-btn:hover{
    border-color: #FFB900;
}
.course-list .course-item img{
   max-width: 370px;
   max-height: 278px;

   border-radius: 12px 12px 0px 0px;
  
}
.popular .course-list .course-item {
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0,0,0, 0.1);
    cursor: pointer;

    flex: 1;
}
 .popular .course-list {
  margin-top: 55px;
  display: flex;
 /* grid-template-columns: 37rem repeat(2, 37rem); */
  gap: 30px; 

}
.popular .course-list .info{
    padding: 1.6rem 2.2rem 2.2rem;
}
.popular .course-item .foot,
.popular .rating,
.popular .course-list .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.popular .course-list .title{
        color: #171100;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
}
.popular .rating .value{
    margin-left: 6px;
}
.popular .course-item .desc{
        margin-top: 6px;
        font-size: 1.4rem;
        line-height: 1.6;
}
.popular .course-item .btn-book{
    border: none;
 
}
.popular .course-item .btn-book:hover{
    background-color: var(--primary-color);
}

/* ===========================khối feedback==================== */
.feedback {
    margin-top: 135px;
    padding: 96px 0px;
    background-color:#2E2100;
    
}
.feedback-list {
    display: flex;
    justify-content:space-between;
    overflow: hidden;
}
.feedback-item{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    
}
.feedback-item .avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit:cover;
}


.feedback-item .info .member-name{
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--Font);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;

}
.feedback-item .info .desc{
    margin-top: 4px;
    color: #bfbcb2;
    font-family: var(--Font);
    font-size: 1.4rem;
    line-height: 1.86;

}
.feedback-item .dots{
    display: flex;
    gap: 6px;
}
.feedback-item .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #636363;

    cursor: pointer;

}
.feedback-item .content{
    width: 65%;
    margin-left: auto;
}
.feedback-item blockquote{
        color: #fff;
        font-size: 2.6rem;
        font-style: italic;
        line-height: 1.54;
}
.feedback-item .dot.active {
    background: var(--primary-color);
    cursor: default;            /* thiết lập con trỏ chuột mặc định */
    
}

/*   phần features */
.features .body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features {
    margin-top: 135px;
    padding: 65px 0px;
    background-color: #FFB900;
}
.features .images img{
    width: 270px;
    height: 404px;
    object-fit: cover;          /* Thiết lập khỏi ảnh bị méo */
    border-radius: 16px;
}
.features .body .images{
    display: flex;
    gap: 30px;
}
.features .images .lower{
    margin-top: 34px;
}
.features .content{
    width: 41%;
    display: flex;
    flex-direction: column;
justify-content: center;
}