
html {
    --font: "Matemasie", sans-serif;
    --font1: "Edu VIC WA NT Beginner", cursive;
    --font-size:2rem;
    --backgroundcolor: black;
    overflow-x: hidden;
}


/* ==================================phần chung ============================================= */






/* =================================== phần giới thiệu thông tin ============================================================= */
 .body .wrapper-introlduce{

    padding: 2rem 0rem 2rem 0rem;
    background-color: black;
    max-width: 95%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    

    border: 1px solid white;  
 }
.body .wrapper-introlduce .box-information{
    font-size: 2rem;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    display: flex;
  
    gap: 2%;
    margin-left: 0%;
}
.box-information .image img{
    object-fit: cover;
    max-width: 30rem;
    border-radius: 990px;
    height: 7em;
}
.box-information .image {
    position: relative;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 2rem;
}

.wrapper-introlduce .box-information .information {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 80%;
}
.wrapper-introlduce .box-information .information .function{
        width: 100%;
        display: grid;
        grid-row-gap: 2rem;
        margin-left: 30%;
       
        
}
.wrapper-introlduce .box-information .information .function ol li{
            margin-bottom: 2rem;
}
.wrapper-introlduce .box-information .information .function p{
    width: 100%;
}
.wrapper-introlduce .box-information .information h2{
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2rem;
    font-weight: 900;
    display: inline-block;
    color: red;
}
.wrapper-introlduce .box-information .information .boxparagraper {
                    max-width: 100%;
                   

}
.wrapper-introlduce .introduce .box{
   margin-top: 2rem;
    font-size: 1.7rem;
     padding: 2rem 2rem;
     border-radius: 3rem;
     display: flex;
     justify-content: center;
     gap: 20%;
     background: rgb(42, 41, 41);

}
.wrapper-introlduce .introduce .box {
   
  color: aqua;
}
.wrapper-introlduce .introduce {
    font-family: var(--font) ;
    
}
.wrapper-introlduce .introduce h1{
    font-size: 1.5rem;
    margin-left: 25rem;
}
/* ======================================Danh sách hoa quả================================================= */
/* ====================================phần chung===================================================== */
 h3 {
            font-size: 4rem;
            font-family: var(--font1);
            color: rgb(247, 0, 0);
         
}     
img {
    border: 2px solid white;
}


/* ================================================= link foot < 1200px ===================================================== */
.body .LinkFoot {
    display: none;
    height: 30%;
    width: 1%;
    position: relative;
    top: 12%;
    left: 10%;
}
.body .LinkFoot div {
    background-color: var(--backgroundcolor);
    display: block;
    padding: 3rem 5rem 3rem 5rem;
    width: 20rem;
    border-radius: 3rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
 .body .LinkFoot div h2 {
    
    margin-bottom: 2rem;
    font-size: var(--font-size);
    color: aqua;
    font-family: var(--font1);
}
.body .LinkFoot div a {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: rgb(108, 255, 3);
    font-weight: var(--font1);
}

/* ========================================phần link foot > 1200px ================================================ */
.Body-header .LinkFoot {     
           height: 30%;
           
            position: relative;
            top: 12%;
            left: 10%;
}
.Body-header  .LinkFoot div {
                background-color: var(--backgroundcolor);
                display: block;
                padding: 3rem 3rem 3rem 5rem;
                width: 100%;
                border-radius: 3rem;
                display: flex;
                justify-content: center;
                gap: 1rem;
                flex-direction: column;
   
}
.Body-header  .LinkFoot div h2 {  
    margin-bottom: 2rem;
    font-size: var(--font-size);
    color: aqua;
    font-family: var(--font1);
}
.Body-header  .LinkFoot div a {
    color: red;
    margin-bottom: 1rem;
    font-size: 2.3rem;
    font-weight: var(--font1);
}



.list-foot {
    background-color:var(--backgroundcolor);
    margin-top: 10rem;
 
    
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 5rem;
    border: 2px solid white;

 
  
}

.list-foot .foot .text{
    margin-left: 10%;
    font-size: var(--font-size) ;
    color: aliceblue;
    width: 100%;
}
.list-foot .foot .foot1 {
    margin-top: 5rem;
    display: flex;
    padding: 3rem 5rem 5rem 5rem; 
  
}
.list-foot .foot .foot1 .text img{
                width: 50%;
                height: auto;
                object-fit: cover;
}

.foot .imgcarrot img {
   
    width: 100%;
    height: 40rem;
    object-fit: cover;
    
} 
.list-foot .text h3 {
    margin-bottom: 5%;
}
.list-foot .text ol {
 display: grid;
 gap: 2rem;
    margin-left: 60%;
}

/*========================================== PHẦN :  bình luận =====================================================*/
.Comment {
      margin: 5% 0% 0% 5%;
      width: 75%;
      padding: 3rem 3rem;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      background: rgba(13, 13, 13,0.6);
      border: 2px solid white;
      box-shadow: 1rem 1rem 2rem white;
      
}

.Comment .inputcomment h2 {
    font-family: var(--font1);
    font-size: 1.9rem;
    color: white;
    margin-bottom: 2rem;
}   
.Comment .inputcomment textarea {
    width: 80%;
    font-size: 1.9rem;
    border-top-left-radius: 1rem;
    padding: 1rem 2rem;
 
    background: rgba(0, 0, 0,0.5);
    color: white;
    box-shadow: 1rem 1rem rem white;
}
.Comment .inputcomment textarea::placeholder{
    color: rgb(253, 249, 249);
}
.Comment .submit_cancel {
    display: flex;
    gap: 2em;
    margin-top: 2rem;
}
.Comment .submit_cancel button {
    width: 100px;
    height: 40px;
    border-radius: 3rem;
    background: rgba(243, 249, 249, 0.9);
    color: rgb(0, 0, 0);
    font-weight: 700;
    cursor: pointer;
}
.text {
   font-size: 1.8rem;
    color: white;
    font-weight: 600;
    padding: 2px 2px;
    margin: 2rem 0rem 2rem 0rem;
  
  
}
.text:focus {
    color: aliceblue;
}
.edit_delete {
    display: flex;
    gap: 3rem;
}
.btn {
    text-align: center;
    width: 7rem;
    height: 4rem;
    border-radius: 5rem;
    padding: 1rem 1rem;
    cursor: pointer;
    font-family: var(--font1);
    transition: all ease 0.5s;
    color: rgb(254, 255, 255);
    font-weight: 700;
    background-color: var(--backgroundcolor);
 /* border: 1px solid white; */
}
.btn:hover {
    background-color: rgb(18, 20, 20);
}
.save-cancel {
    display: flex;
    gap: 3rem;
}
.wraper_saved {    /* Phần thông báo hiện thị đã lưu*/
            color: rgb(70, 244, 1);
            margin: 1.5rem 0rem 0rem 1.5rem;
            font-size: var(--font-size);
            font-weight: 700;
           
}




@media screen and (max-width: 600px){
    .body .wrapper-introlduce{

        padding: 2rem 1rem 2rem 0rem;
    }
}

@media screen and (max-width: 1200px){
    .list-foot .text ol {
        margin-left: 0%;

    }
    .imgcarrot {
        display: none;
    }
    .list-foot .foot .foot1 {
        padding: 0rem 0rem 4rem 0rem;
    }
    .list-foot .foot .text {
        margin-left: 5%;
    }
    .list-foot .foot .foot1 .text img {
        width: 80%;
    }
    .wrapper-introlduce .introduce .box {
        gap: 10%;
    }
    .Body-header  .LinkFoot {
        display: none;
    }
    .body .LinkFoot {
        display: block;
        /* max-width: 100%; */
    }


}



@media screen and (min-width: 1200px) {
    .imgcarrot {
        display: block;
    }
}
/* ============================================================================================================= */









@media screen and (max-width:1300px) {
    .body .wrapper-introlduce .box-information {
             
             width: 100%;
             height: 75rem;
            display: flex;
            flex-direction: column;
    }  
    .wrapper-introlduce .box-information .information {
        margin-top: 105;
                margin-left: 17%;
                width: 100%;
        }
    .wrapper-introlduce .box-information .information .function {
                 display: grid;
                 grid-row-gap: 2rem;
                 margin-left: 0rem;      
            }
    .wrapper-introlduce .introduce {            
               margin-left: 0;

            }
    .wrapper-introlduce .introduce h1{
                 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;           
                 margin-left: 6rem;
                 margin-bottom: 2rem;
            }
    .body .wrapper-introlduce {
                margin-left: auto;
                margin-right: auto;
            }

    .box-information .image {
               display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              margin-left: auto;
              margin-right: auto;

            }
            


}

