html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
    /* overflow-x: hidden;
    overflow-y: auto; */
}

/* ============== css Common part======================= */

h1 {
    font-size: 2.3rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
b {
    color: red;
    font-weight: 700;
}
.main-content.main-content-2 {
          margin: 0rem 2% 0rem 3%;

}

#link {
    height: 4rem; 
    background-color: black;
    padding: 1.5rem 1.3rem;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;

}
a {
    display: inline-block;
   
    text-decoration: none;
    color: rgb(255, 252, 252);
    font-weight: 600;
    text-align: center;
    
}
big {
    font-size: 3em;
    display: block;
     margin-top: 2rem;
}
.card__header--btn {
    border: 2px solid red;
    padding: 2rem 2rem;
}
.card__header--btn li {
        list-style-type: decimal;
        color: white;
        padding: 2rem 2rem;
}
.card__header--btn li:hover {
        background-color: rgb(30, 26, 26);
        color: white;
        transition: all 0.6s ease;
        text-decoration: none;
        color: rgb(255, 249, 249);
        font-weight: 600;
         cursor: pointer;
}
  
.btn {

    width: 20rem;
    cursor: pointer;
    background: rgba(29, 26, 26,0.9);
    color: white;
    font-weight: 700;
    border-radius: 3rem;
    padding: 1rem 1rem ;

}


/*=========================================================*/
/* ===========================thanh tiến trình Nprogress=======================*/
#nprogress .bar{
    background:rgba(53, 246, 0, 0.647);
}
/*==============================================================================*/

header {
    width: 100%;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    
}

header .card__header .card__header--title h1{
    animation: move 6s infinite;  /* infinite: vô hạn */
     font-weight: 700;                   
    font-size: 3.5rem;  
                                 
}
header .card__header .card__header--title {
    width: 80%;
    font-size: 4rem;
    margin-bottom: 4rem;
 
    background-color: white;
     display: inline-block;    
 }
 header .card__header .card__header--text {
            max-width: 100%;
       
            font-size: 2.5rem;
        
 }
 header .card__header .card__header--card1 {
            width: 100%;
 }


header .card__header--card1 {
    /* text-align: center;  */
}
header .card__header--card2-list {
         
         transition: all 1s ease;       /* transition không áp dụng với display: block */
         position: absolute;
         bottom: 9rem;
         margin-left: 28rem;
        max-width: 40%;
        display: none;
      

}
.boxList{
    border-radius: 20px;
}
#Card__Header-Nav-computer {
    background-color: black;
   
    padding: 60px;
}

.card__header--card2 li:hover #Card__Header-Nav-computer {
    display: block;
} 


header .card__header--card2 {
    margin-top: 4rem;
  padding: 10px;
    font-size: 14px;
}

header .card__header--card2 ol {
        margin-top: 3%;
        margin-left: 2%;
        display: grid;
        gap: 2rem;
       
}
header .card__header--card2 ol li{
    max-width: 20em;
  
}
header .card__header--card2 ol li a{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.card__header--card2 #link::after{
        content: '👉🏻';
       
        margin-left: 3%;
}

header #Card__Header-Nav-mobie {
       position: absolute;
       transition: all 0.6s ease;
       text-decoration: none;
       color: rgb(255, 252, 252);
       font-weight: 600;
       background-color: black;
       width: 15em;
       cursor: pointer;
       display: none;
       
   }

.card__header--card2 #Habit {
    font-size: 14px;
    transition: all 1s ease;         /* transition không áp dụng với display: block */
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    bottom: 10.5rem;
    margin-left: 20em;
    background-color: black;
    display: none;

}


.card__header--card2 li:hover #Habit {
        display: block;
}
.Habit li {
    transition: all 0.6s ease;
     text-decoration: none;
     color: rgb(255, 249, 249);
     font-weight: 600;
     background-color: black;
     width: 30em;
     cursor: pointer;
}

@keyframes move {
    0% {
        transform: translateX(-100px);
    }
    25% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(-100px);
    }
    
   
}
/*======================= thiết kế hiển thị trên nhiều thiết bị Responsive ========================   */


@media screen and (min-width: 768px) and (max-width:1024px) {
    header #Card__Header-Nav-mobie {
        position: absolute;
           transition: all 0.6s ease;
           text-decoration: none;
           color: rgb(255, 252, 252);
           font-weight: 600;
           background-color: black;
         
           text-align: center;
           cursor: pointer;
           display: none;
       }
       header #Card__Header-Nav-mobie li {

        width: 19em;
     }
     .card__header--card2 li:hover #Card__Header-Nav-computer {
      
     }

}


@media screen and (max-width: 1100px){
  
    /* header .card__header--card2-list {
        display: none;
    } */
    header #Card__Header-Nav-mobie li:hover {
        background-color: rgb(44, 40, 40);
    }
    .card__header--card2 li:hover #Card__Header-Nav-mobie {
        display: block;
    }
    

    .card__header--card2 #link::after{
        content: '🔽';
        font-size: 4rem;
        margin-left: 3%;
}




    header .card__header--card2 {
        position: relative;
        font-size: 2rem;
        max-width: 40%;
    }



    header .card__header--card2-list {
        transition: all 0.4s ease;  /* transition không áp dụng với display: block */                                    
         position: absolute;
         top: 15rem;
         left: 0%;
         bottom: 0%;     
         opacity: 0;
    }
 


}

@media screen and (max-width: 768px) {
    header .card__header--card2 {
        position: relative;
      
    }

    header .card__header--card2 ol #link {
        width: 20em;
        font-size: 1.5rem;
    }
    header .card__header--card2-list {
        transition: all 1s ease;  /* transition không áp dụng với display: block */                                    
         position: absolute;
         top: 7rem;
         left: 0%;
         bottom: 0%;
         margin-left: 0em;
       
       
       opacity: 0;
    }

.card__header--card2 #Habit {
    margin-left: 0em;
    padding: 0em;
    width: 5em;
    position: absolute;
    top: 65%;
}
.card__header--card2 #Habit li:hover {
    display: block;
}
.card__header--card2 #Habit li {

    width: 15em;
    box-shadow: 10px 2px rgb(243, 4, 4);
}
 

}

/*=============================phần body======================================== */

body #card__body {
  
    font-size: 1.9rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.card__body--list {
       margin:6rem auto;
    
     
      
}
.card__body .card__body--image{
    text-align: center;
    
}
.card__body .card__body--image h1{
    margin-bottom: 2rem;
}
body .card__body--list img {
    cursor: pointer;
    object-fit: contain;
    max-width: 70%;
    height: auto;
    transition: ease 0.4s;
   
}
body .card__body--list img:hover {
              transform: translateY(-10px);
       
}
.card__body--list .method {
        width: 90%;
        font-weight: 900;
        margin-top: 5%;
        
}
.card__body--list .method li {
    margin-bottom: 2rem;
}



#AddElement {
    font-size: 1.9rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow: dense;
  
  
}
#AddElement.hidden {
    display: contents; /* Phần tử không được hiển thị nhưng các phần tử con vẫn được hiển thị */
}

 .card__body-Add{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

/* ========================phần tác hại và biện pháp===============================  */

/*  phần css chung  */

table {
    border: 2px solid black;
    font-size: 2rem;
   
}
tr, td {
    border: 1px solid black;
     padding: 1rem 1rem ;
    
} 
th {
    border: 1px solid black;
    font-weight: 700;
    font-size: 3rem;
    padding-top: 1px;
 }
/* =========================================*/



#cardbody2--box {
        transition: 1s ease;
        font-family: "Poppins", sans-serif;
         font-weight: 500;
         font-style: normal;
        cursor: pointer;
}

#cardbody2--box:hover >:not(:hover) {
    filter: blur(1px);

}
.cardbody2--information {
    margin-top: 2%;
   
 }
 .cardbody2--information h1 {
     margin-bottom: 2%;
     font-size: 4rem;
     text-align: center;
  
 }
.cardbody2--box-table {
            display: flex;
            justify-content: center;
            gap: 2%;
}
.cardbody2--box-table img {
    max-width: 35%;
    max-height: 40em;
    border: 1px solid black;
    object-fit: cover;
}
.card__body2-btn {
        display: flex;
        justify-content: center;
}



@media screen and (max-width: 768px) {
        .cardbody2--box-table {
                 display: flex;
                 flex-direction: column;
                 gap: 2%;
}
th {
    border: 1px solid black;
    font-weight: 700;
    height: 2rem;
    width: 5rem;
    font-size: 2rem;
 }
.cardbody2--box-table img {
    max-width: 80%;
    max-height: 40em;
    padding:1rem 5rem 1rem 5rem;
    object-fit: cover;
}


}




/* ======================================================================*/

@media screen and (max-width: 1100px){
 
    body #card__body {
        display: grid;
        grid-template-columns: 100%;
    } 
    #AddElement {
        display: grid;
     
        grid-template-columns: 100%;
    }
    header .card__header .card__header--text {
            width: 100%;
          
    }
    .card__body-Add{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 25%;
    
    }
}





@media screen and (max-width: 768px){
    html {
        font-family: 'Times New Roman', Times, serif;
        font-size: 62.5%;
       
    }
    body .card__body--list img {
        max-width: 100%;
    }
    #Add {
        margin-left: 30%;
    }
    @keyframes move {
        0% {
            transform: translateX(-50px);
        }
        25% {
            transform: translateX(0);
        }
        75% {
            transform: translateX(35px);
        }
        100% {
            transform: translateX(-50px);
        }
        
       
    }
   
  
       
}

